@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {

    --text-font-primary: Poppins;
    --text-font-secondary: Playfair Display;
    --text-color-primary-dark: #124F3F;
    --text-color-primary-light: #BEE8DC;
    margin: 0px;
    padding: 0px;
    text-align: center;

}

.btn {
    border: none;
    outline: none;
}

.home,
.about1,
.about2,
.feature,
.pricing,
.team,
.footer {
    height: 100vh;
    width: 100vw;
    border: solid;
    border-color: #FFFFFF;
    border-width: 0.01px;
}

.header {
    margin: 0px;
    padding: 0px;
    background-color: #124F3F;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    width: 100vw;
    display: grid;
    color: white;
    z-index: 5;
}


li a {
    text-decoration: none;
    color: #FFFFFF;
}



.header-li {
    margin-right: 2vw;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
}

.header-li:hover {
    background-color: #56B49B;
    border-radius: 3rem;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
}

.header-ul {
    margin: 0px;
    padding: 0px;
}


.cls-1,
.cls-2 {
    fill: #ffffff;
}




.about-div-1-mid-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.about-div-2-1-mid-text-container,
.about-div-2-2-mid-text-container,
.about-div-2-3-mid-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: auto;
    max-height: auto;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
}

.dotBtn {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    outline: none;
    transform-origin: center;
    transform: scale(1, 1);
    transition-property: transform;
    transition-duration: 200ms;
    background-color: var(--text-color-primary-dark);
}

.dotBtn:hover {
    background-color: #BEE8DC;
}

.about-slide-btn-active {
    transform: scale(1.5, 1.5);
    background-color: #BEE8DC;
}

#about-slider-div {
    position: relative;
    overflow: hidden;
}

.about-slide-div {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: #FFFFFF;
    opacity: 1;
    transition: transform 500ms ease;
    animation-duration: 500ms;
}

.about-active {
    z-index: 1;
}


.activeAboutSlide {
    z-index: 1;
}

.aboutSlideInLeft {
    animation-name: aboutAnimateInLeft;
    z-index: 1;
}

.aboutSlideInRight {
    animation-name: aboutAnimateInRight;
    z-index: 1;
}

.aboutSlideOutLeft {
    transform: translateX(-100%);
}

.aboutSlideOutRight {
    transform: translateX(100%);
}

@keyframes aboutAnimateInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes aboutAnimateInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}



.feature-active {
    z-index: 1;
}


.featureAboutSlide {
    z-index: 1;
}

.featureSlideInLeft {
    animation-name: aboutAnimateInLeft;
    z-index: 1;
}

.featureSlideInRight {
    animation-name: aboutAnimateInRight;
    z-index: 1;
}

.featureSlideOutLeft {
    transform: translateX(-100%);
}

.featureSlideOutRight {
    transform: translateX(100%);
}

@keyframes featureAnimateInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes featureAnimateInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}




.feature-div-1-list:hover,
.feature-div-2-list:hover,
.feature-div-3-list:hover {

    cursor: pointer;
}

.feature-div-1-list:active,
.feature-div-2-list:active {

    color: coral;

}

.feature-div-1-list-3,
.feature-div-2-list-3 {
    background-color: #BEE8DC;
    padding: .2rem;
    border-radius: 5rem;
    color: #124F3F;

}


.feature-div-1-list-2,
.feature-div-1-list-4,
.feature-div-2-list-2,
.feature-div-2-list-4 {

    opacity: 0.3;

}

.feature-div-1-list-5,
.feature-div-1-list-1,
.feature-div-2-list-5,
.feature-div-2-list-1 {
    opacity: 0.2;
}

.feature-div-1-img-1,
.feature-div-2-img-1 {
    width: 30vw;
    height: 45vh;
    display: block;

}

.featImgOut {
    animation-name: fadeOut2;
    animation-duration: 2000ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 5;
}

@keyframes fadeOut2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}




@media (min-width: 750px) {

    html {
        font-size: 1rem;
    }

    .header {
        border-bottom-right-radius: 1.8rem;
        border-bottom-left-radius: 1.8rem;
        grid-template-columns: 1fr 7fr 2fr;
        justify-items: center;
        align-items: center;
        position: fixed;
    }

    li a {
        font: normal normal 600 1rem var(--text-font-primary);
    }

    nav ul li {
        display: inline;
    }

    .cls-2 {
        font-size: 1.5rem;
        font-family: ACaslonPro-Bold, Adobe Caslon Pro;
        font-weight: 700;
    }

    .cls-12 {
        font-size: 1.5rem;
        font-family: Gelion-Medium, Gelion;
        font-weight: 500;
        letter-spacing: 0.15em;
    }




    .header-btn {
        letter-spacing: 0px;
        color: #000000;
        background-color: #FFF7AB;
        opacity: 1;
        font: normal normal 600 1rem var(--text-font-primary);
        border-radius: 3rem;
        padding: .2rem .7rem .2rem 1rem;
        position: relative;
        border: none;
        outline: none;
        border-radius: 3rem;
        z-index: 1;
    }

    .header-btn::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--text-color-primary-light);
        z-index: -1;
        border-top: 20px;
        transition: transform 200ms;
        transform: scaleX(1) skew(0deg);
        border-radius: 3rem;
    }

    .header-btn:hover::before {
        transform: scaleX(0) skew(90deg);
    }

    .chat-btn {
        border: none;
        outline: none;
        background-color: transparent;
        position: fixed;
        bottom: 5vh;
        right: 5vw;
        z-index: 4;
        border-radius: 3rem;
    }

    .chat-img:hover,
    .chat-img:active {
        border: none;
        outline: none;
        background-color: white;

    }


    .chat-img {
        max-width: 12vw;
        max-height: 15vh;
        border-radius: 3rem;
    }

    .chat-popup {
        width: 18vw;
        height: 50vh;
        background-color: #99ffcc;
        border: none;
        position: fixed;
        bottom: 8vh;
        right: 5vw;
        z-index: 4;
        display: none;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    .chat-header {
        background-color: #b3abff;
        font: normal normal 600 1.2rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;
        display: grid;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        grid-template-columns: .7fr .3fr;
        align-items: center;

    }

    .chat-header-p-div,
    .chat-header-btn-div {
        margin: 0px;
        padding: 0px;
        justify-self: center;
    }

    .chat-header-btn {
        border: none;
        outline: none;
        background-color: transparent;
        width: 1vw;
        height: 1vh;
    }

    .chat-screen {
        width: 18vw;
        height: 40vh;
        background-color: white;
        overflow: scroll;
    }


    .chat-screen-text-input {
        box-sizing: border-box;
        width: 16vw;
        height: 10vh;
        border: none;
        resize: none;
        outline: none;
        background-color: #FFF7AB;
        font-size: 1rem;
    }

    .chat-screen-text-output {
        box-sizing: border-box;
        width: 16vw;
        height: 10vh;
        border: none;
        resize: none;
        outline: none;
        background-color: #00000033;
        font-size: 1rem;
    }

    .register-box {
        width: 25vw;
        height: auto;
        background-color: #E2FEF6;
        position: fixed;
        bottom: 20vh;
        right: 35vw;
        z-index: 4;
        background: url(../images/home/register-box.png) no-repeat;
        background-size: contain;
        background-color: #E2FEF6;
        display: none;
        border-radius: 1rem;
    }

    .register-box-anim {
        animation-name: moveRegisterbox;
        animation-duration: 300ms;
        animation-timing-function: ease-out;
    }

    @keyframes moveRegisterbox {
        0% {
            transform: scale(0.5, 0.5)
        }

        100% {
            transform: scale(1, 1);
        }
    }


    .register-succ {
        display: none;
        padding: .5rem;
    }

    .register-form {
        padding: .5rem;
    }

    #registerEmail {
        width: 98%;
        border-radius: 20px;
        outline: none;
        border: none;
        margin-left: 2px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    #registerName {
        width: 98%;
        border-radius: 20px;
        outline: none;
        border: none;
        margin-left: 2px;
        margin-bottom: 10px;
        font-size: 14px;
    }


    .register-form-div-email,
    .register-form-div-name {
        border: solid;
        border-width: 1.5px;
        border-radius: 20px;
        position: relative;
        margin: 20px;
    }

    .register-form-div-message {
        height: 70px;
        margin-top: 15px;
    }


    .register-form-label {
        position: absolute;
        bottom: 37px;
        left: 20px;
        background-color: #E2FEF6;
        font: normal normal normal 14px var(--text-font-primary);
    }

    .register-form-div-role-p {

        font: normal normal normal 12px var(--text-font-primary);
    }

    .register-form-div-checkbox-label {
        font: normal normal normal 14px var(--text-font-primary);
    }

    .register-form-div-btn {
        margin-top: 10px;
        border: solid;
        border-width: 1.5px;
        font: normal normal 600 14px var(--text-font-primary);
        background-color: var(--text-color-primary-dark);
        color: #ffffff;
    }

    .register-succ-btn {
        font: normal normal 600 14px var(--text-font-primary);
        background-color: var(--text-color-primary-dark);
        color: #ffffff;
    }

    .register-succ-btn:hover,
    .register-succ-btn:active {
        font: normal normal 600 14px var(--text-font-primary);
        background-color: var(--text-color-primary-light);
        color: #000000;
    }

    .register-header-btn {
        border: none;
        outline: none;
        background-color: transparent;
        margin-left: 250px;
    }

    .register-succ-line-1 {
        font: normal normal bold 4rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .register-succ-line-2 {
        font: normal normal bold 2rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;
    }

    .register-succ-line-3 {
        font: normal normal bold 1rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-light);
    }

    .home {
        background: url(../images/home/home-bcg.png) no-repeat;
        background-size: 100% 100%;
    }


    .black-layer {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;

    }

    .home-container-div {
        margin-top: 35vh;
    }

    .home-div-text-1 {
        font: normal normal bold 2.2rem var(--text-font-primary);
        color: white;
    }

    .home-div-text-2 {
        font: normal normal bold 5rem var(--text-font-secondary);
        color: #FFF7AB;
        margin-top: -5vh;
    }



    .home-btn {
        letter-spacing: 0px;
        color: #000000;
        background-color: #FFF7AB;
        opacity: 1;
        font: normal normal bold 1.2rem var(--text-font-primary);
        border-radius: 3rem;
        padding: .4rem 1.3rem .4rem 1.3rem;
        position: relative;
        border: none;
        outline: none;
        border-radius: 3rem;
        z-index: 1;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.9;
    }

    .home-btn::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--text-color-primary-light);
        z-index: -1;
        transition: transform 300ms;
        transform: scaleX(1) skew(0deg);
        border-radius: 3rem;
    }

    .home-btn:hover::before {
        transform: scaleX(0) skew(90deg);
    }

    .home-div-btn {
        margin-top: -6vh;
    }


    .about-div-1 {
        padding-top: 15vh;
    }


    .about-div-1-main-text,
    .about-div-2-main-text {
        font: normal normal bold 2.5rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .about-div-1-mid-text-container {
        margin-top: 5vh;
    }

    .about-div-1-mid-text1,
    .about-div-1-mid-text2,
    .about-div-2-1-mid-text,
    .about-div-2-1-mid-img,
    .about-div-2-2-mid-text,
    .about-div-2-2-mid-img,
    .about-div-2-3-mid-text,
    .about-div-2-3-mid-img {
        max-width: 35vw;
        max-height: auto;
    }

    .about-div-1-mid-img {
        max-width: 25vw;
        max-height: 25vh;
    }

    .about-div-1-mid-text {
        font: normal normal bold .9rem var(--text-font-primary);
    }

    .about-div-1-last-text {
        font: normal normal 600 1.8rem var(--text-font-primary);
        color: #000000;
    }

    .about-div-2-1-mid-img,
    .about-div-2-2-mid-img,
    .about-div-2-3-mid-img {
        max-width: 35vw;
        max-height: 35vh;
    }

    .about-div-2-1-mid-text-1,
    .about-div-2-2-mid-text-1,
    .about-div-2-3-mid-text-1 {
        font: normal normal bold 2.1rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .about-div-2-1-mid-text-2,
    .about-div-2-2-mid-text-2,
    .about-div-2-3-mid-text-2 {
        font: normal normal bold 0.9rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    #about-slider-div {
        height: 80vh;
    }

    .about-slide-div {
        margin-top: 15vh;
    }

    .dotBtn {
        margin: 5vw 2vw 0px 2vw;
    }


    .feature-div-btn {
        padding-top: 18vh;
    }

    .feature-slide-btn {
        letter-spacing: 0px;
        font: normal normal bold 1.2rem var(--text-font-primary);
        color: var(--text-color-primary-dark);
        margin: 0rem 2rem 0rem 2rem;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        background: transparent;
        border-radius: 3rem;
    }

    .feature-slide-btn-active,
    .feature-slide-btn:hover {
        opacity: 1;
        text-align: center;
        font: normal normal bold 1.2rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #124F3F;
        outline: none;
        background: #BEE8DC;
    }

    #feature-slider-div {
        position: relative;
        height: 80vh;
        overflow: hidden;
    }

    .feature-slide-div {
        position: absolute;
        width: 100%;
        height: 80vh;
        background-color: #FFFFFF;
        opacity: 1;
        transition: transform 500ms ease;
        animation-duration: 500ms;
    }

    .feature-div-1-container,
    .feature-div-2-container,
    .feature-div-3-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 60vh;
        justify-items: center;
        align-items: center;
    }


    .feature-div-1-img-container,
    .feature-div-2-img-container,
    .feature-div-3-img-container {
        justify-self: center;
        width: 35vw;
        height: 35vh;
        padding: auto;
        margin: auto;
        opacity: 1;
    }

    .feature-div-1-list-container,
    .feature-div-2-list-container,
    .feature-div-3-list-container {
        justify-self: center;
        width: 50vw;
        height: 30vh;
        text-align: center;
        font: normal normal bold 2rem var(--text-font-primary);
        letter-spacing: 0px;
        opacity: 1;

    }

    .feature-div-1-list,
    .feature-div-2-list,
    .feature-div-3-list {
        text-align: center;
        font: normal normal 600 1.5rem var(--text-font-primary);
        letter-spacing: 0px;
        padding: .5rem;
        margin: .5rem;
        height: 6vh;
    }

    .pricing-container-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: auto;
        height: auto;
        justify-items: center;
        align-items: center;
        margin-top: 20vh;
    }

    .pricing {
        background: url(../images/pricing/pricing-bcg.png) no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .pricing-div-1 {
        width: 40vw;
    }

    .pricing-div-img {
        max-width: 60vw;
        max-height: 60vh;
    }

    .pricing-div-text-1 {
        font: normal normal bold 3rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .pricing-div-text-2 {
        font: normal normal bold 1rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
        padding: 0rem 3rem 0rem 3rem;
    }



    .pricing-btn {
        letter-spacing: 0px;
        background-color: #84E4C9;
        opacity: 1;
        font: normal normal 600 1.5rem var(--text-font-primary);
        border-radius: 3rem;
        padding: 0.5rem 1.8rem 0.5rem 1.8rem;
        position: relative;
        border: none;
        outline: none;
        border-radius: 3rem;
        z-index: 1;
        letter-spacing: 0px;
        opacity: 0.9;
        color: #FFFFFF;
    }

    .pricing-btn::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--text-color-primary-dark);
        ;
        z-index: -1;
        font: normal normal 600 1.5rem var(--text-font-primary);
        background-color: var(--text-color-primary-dark);
        border-radius: 3rem;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        transition: transform 300ms ease-in-out;
        transform: scaleX(1) skew(0deg);
        border-radius: 3rem;
    }

    .pricing-btn:hover::before,
    .pricing-btn:active::before,
    .pricing-btn:focus::before {
        transform: scaleX(0) skew(90deg);
    }

    .pricing-btn:hover,
    .pricing-btn:active,
    .pricing-btn:focus {
        color: #000000;
    }

    .team {
        background: url(../images/team/team-bcg.png) no-repeat;
        background-position: center;
        background-size: 110% 110%;
    }

    .team-container-div {
        padding-top: 10vh;
    }

    .team-div-text-1 {
        font: normal normal bold 3rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .team-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: auto;
        height: auto;
        justify-items: center;
        align-items: center;
        margin-top: 15vh;
    }

    .team-main-1-text-1,
    .team-main-2-text-1,
    .team-main-3-text-1,
    .team-main-4-text-1,
    .team-sec-1-text-1,
    .team-sec-2-text-1,
    .team-sec-3-text-1,
    .team-sec-4-text-1 {

        font: normal normal 600 1rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;

    }



    .team-main-1-text-2,
    .team-main-2-text-2,
    .team-main-3-text-2,
    .team-main-4-text-2,
    .team-sec-1-text-2,
    .team-sec-2-text-2,
    .team-sec-3-text-2 {

        font: normal normal 600 0.7rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;
        margin-top: -1rem;

    }

    .team-div-img {
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        border: none;
        box-shadow: 0 0 .7rem .4rem #888888;
    }

    .footer {
        background: url(../images/connect/items-bcg.png) no-repeat bottom, url(../images/connect/connect-bcg.png) no-repeat center;
        background-size: 110% 30%, 110% 110%;
        display: grid;
        grid-template-rows: 2fr .1fr;
        justify-items: center;
    }


    .footer-div-img {
        max-width: 40vw;
        max-height: 40vh;
    }

    .footer-mid {
        display: grid;
        grid-template-columns: .6fr .4fr;
        max-width: auto;
        height: auto;
        align-self: center;
        justify-items: center;
        align-items: center;

    }

    .footer-items-div {
        width: 100vw;
    }

    .footer-item-4-social {
        background-color: transparent;
        border: none;
        max-width: 3vw;
        max-height: 3vh;
        padding-right: 1vw;
    }

    .copyright {
        font: normal normal bold 0.6rem var(--text-font-primary);
        letter-spacing: 0px;
        color: white;
        margin-top: auto;
    }

    .footer-item-2-text-1 {
        font: normal normal bold 0.8rem var(--text-font-primary);
    }

    .footer-item-2-text-2 {
        font: normal normal bold 0.7rem var(--text-font-primary);
    }

    .footer-items {
        letter-spacing: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: start;
        color: white;
        text-align: start;
        align-items: flex-end;
    }

}

@media (max-width: 750px) {

    html {
        font-size: 0.7;
    }

    .header {
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        height: 15vh;
        position: static;
    }

    .header-div-btn {
        display: none;
    }

    .header-nav {
        display: none;
    }

    li a {
        font: normal normal 600 .6rem var(--text-font-primary);
    }

    .cls-2 {
        font-size: 1.5rem;
        font-family: ACaslonPro-Bold, Adobe Caslon Pro;
        font-weight: 700;
    }

    .cls-12 {
        font-size: 1.5rem;
        font-family: Gelion-Medium, Gelion;
        font-weight: 500;
        letter-spacing: 0.15em;
    }

    .header-btn {
        letter-spacing: 0px;
        color: #000000;
        background-color: var(--text-color-primary-light);
        opacity: 0.9;
        font: normal normal 600 1rem var(--text-font-primary);
        border-radius: 3rem;
        padding: .2rem .7rem .2rem 1rem;
        margin-top: 30vh;
        width: 30vw;
        height: 10vh;
        position: relative;
        border: none;
        outline: none;
        border-radius: 3rem;
        z-index: 1;
    }

    .header-btn::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        z-index: -1;
        border-top: 20px;
        transition: transform 200ms;
        overflow: hidden;
        transform: scaleX(1) skew(0deg);
        border-radius: 3rem;
    }

    .header-btn:hover::before {
        transform: scaleX(0) skew(90deg);
        overflow: hidden;
    }

    .chat-btn {
        border: none;
        outline: none;
        background-color: transparent;
        position: fixed;
        bottom: 8vh;
        right: 5vw;
        z-index: 2;
        border-radius: 3rem;
    }

    .chat-img:hover,
    .chat-img:active {
        border: none;
        outline: none;
        background-color: white;
    }


    .chat-img {
        max-width: 20vw;
        max-height: 20vh;
        border-radius: 3rem;
    }

    .chat-popup {
        width: 50vw;
        height: 40vh;
        background-color: #99ffcc;
        border: none;
        position: fixed;
        bottom: 8vh;
        right: 5vw;
        z-index: 4;
        display: none;
    }

    .chat-header {
        background-color: #b3abff;
        font: normal normal 600 1rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;
        display: grid;
        grid-template-columns: .6fr .4fr;
        align-items: center;

    }

    .chat-header-p-div,
    .chat-header-btn-div {
        margin: 0px;
        padding: 0px;
        justify-self: center;
    }

    .chat-header-btn {
        border: none;
        outline: none;
        background-color: transparent;
        width: 1vw;
        height: 1vh;
    }

    .chat-screen {
        width: 50vw;
        height: 30vh;
        background-color: white;
        overflow: scroll;
    }



    .chat-screen-text-input {
        box-sizing: border-box;
        width: 43vw;
        height: 10vh;
        border: none;
        resize: none;
        outline: none;
        background-color: #FFF7AB;
    }

    .chat-screen-text-output {
        box-sizing: border-box;
        width: 16vw;
        height: 10vh;
        border: none;
        resize: none;
        outline: none;
        background-color: #00000033;
    }

    .register-box {
        width: 60vw;
        height: auto;
        background-color: #E2FEF6;
        position: fixed;
        bottom: 20vh;
        right: 8vw;
        z-index: 4;
        background: url(../images/home/register-box.png) no-repeat;
        background-size: contain;
        background-color: #E2FEF6;
        display: none;
        border-radius: 1rem;
    }

    .register-box-anim {
        animation-name: moveRegisterbox;
        animation-duration: 300ms;
        animation-timing-function: ease-out;
    }

    @keyframes moveRegisterbox {
        0% {
            transform: scale(0.5, 0.5)
        }

        100% {
            transform: scale(1, 1);
        }
    }


    .register-succ {
        display: none;
        padding: .5rem;
    }

    .register-form {
        padding: .5rem;
    }

    #registerEmail {
        width: 98%;
        border-radius: 20px;
        outline: none;
        border: none;
        margin-left: 2px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    #registerName {
        width: 98%;
        border-radius: 20px;
        outline: none;
        border: none;
        margin-left: 2px;
        margin-bottom: 10px;
        font-size: 14px;
    }


    .register-form-div-email,
    .register-form-div-name {
        border: solid;
        border-width: 1.5px;
        border-radius: 20px;
        position: relative;
        margin: 20px;
    }

    .register-form-div-message {
        height: 70px;
        margin-top: 15px;
    }


    .register-form-label {
        position: absolute;
        bottom: 37px;
        left: 20px;
        background-color: #E2FEF6;
        font: normal normal normal 14px var(--text-font-primary);
    }

    .register-form-div-role-p {

        font: normal normal normal 12px var(--text-font-primary);
    }

    .register-form-div-checkbox-label {
        font: normal normal normal 14px var(--text-font-primary);
    }

    .register-form-div-btn {
        margin-top: 10px;
        border: solid;
        border-width: 1.5px;
        font: normal normal 600 14px var(--text-font-primary);
        background-color: var(--text-color-primary-dark);
        color: #ffffff;
    }

    .register-succ-btn {
        font: normal normal 600 14px var(--text-font-primary);
        background-color: var(--text-color-primary-dark);
        color: #ffffff;
    }

    .register-succ-btn:hover,
    .register-succ-btn:active {
        font: normal normal 600 14px var(--text-font-primary);
        background-color: var(--text-color-primary-light);
        color: #000000;
    }

    .register-header-btn {
        border: none;
        outline: none;
        background-color: transparent;
        margin-left: 250px;
    }

    .register-succ-line-1 {
        font: normal normal bold 4rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .register-succ-line-2 {
        font: normal normal bold 2rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;
    }

    .register-succ-line-3 {
        font: normal normal bold 1rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-light);
    }

    .home {
        background-color: var(--text-color-primary-light);
    }

    .home-container-div {
        margin-top: 25vh;
    }

    .home-div-text-1 {
        font: normal normal bold 2.2rem var(--text-font-primary);
        color: white;
    }

    .home-div-text-2 {
        font: normal normal bold 5rem var(--text-font-secondary);
        color: #FFF7AB;
        margin-top: -5vh;
    }

    .home-btn {
        font: normal normal bold 1.2rem var(--text-font-primary);
        border-radius: 3rem;
        padding: .4rem 1.3rem .4rem 1.3rem;
    }

    .about-div-1 {
        padding-top: 10vh;
    }


    .about-div-1-main-text,
    .about-div-2-main-text {
        font: normal normal bold 1.5rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .about-div-1-mid-text-container {
        margin-top: 5vh;
    }

    .about-div-1-mid-text1,
    .about-div-1-mid-text2,
    .about-div-2-1-mid-text,
    .about-div-2-1-mid-img,
    .about-div-2-2-mid-text,
    .about-div-2-2-mid-img,
    .about-div-2-3-mid-text,
    .about-div-2-3-mid-img {
        max-width: 35vw;
        max-height: auto;
    }

    .about-div-1-mid-img {
        max-width: 20vw;
        max-height: 20vh;
        border-color: red;

    }

    .about-div-1-mid-text {
        font: normal normal bold 0.8rem var(--text-font-primary);
    }

    .about-div-1-last-text {
        font: normal normal 600 1.3rem var(--text-font-primary);
        color: #000000;
    }

    .about-div-2 {
        padding-top: 15vh;
    }

    .about-div-2-1-mid-img,
    .about-div-2-2-mid-img,
    .about-div-2-3-mid-img {
        max-width: 20vw;
        max-height: auto;
    }

    .about-div-2-1-mid-text-1,
    .about-div-2-2-mid-text-1,
    .about-div-2-3-mid-text-1 {
        font: normal normal bold 1.2rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .about-div-2-1-mid-text-2,
    .about-div-2-2-mid-text-2,
    .about-div-2-3-mid-text-2 {
        font: normal normal bold 0.7rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    #about-slider-div {
        height: 60vh;
    }


    .dotBtn {
       margin-left: 2vw;
       margin-right: 2vw;
       margin-top: 10vh;
    }


    .feature-slide-btn {
        letter-spacing: 0px;
        font: normal normal bold .8rem var(--text-font-primary);
        color: var(--text-color-primary-dark);
        margin: 0rem .5rem 0rem .5rem;
        padding: 0.3rem .5rem 0.3rem .5rem;
        background: transparent;
        border-radius: 3rem;
    }

    .feature-slide-btn-active,
    .feature-slide-btn:hover {
        opacity: 1;
        text-align: center;
        font: normal normal bold .8rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #124F3F;
        outline: none;
        background: #BEE8DC;
    }

    #feature-slider-div {
        position: relative;
        height: 80vh;
        overflow: hidden;
    }

    .feature-slide-div {
        position: absolute;
        width: 100vw;
        height: 70vh;
        background-color: #FFFFFF;
        opacity: 1;
        transition: transform 500ms ease-in;
        animation-duration: 500ms;
    }

    .feature-div-1-container,
    .feature-div-2-container,
    .feature-div-3-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
        align-self: center;
        width: 100vw;
        height: 50vh;
        row-gap: 25vh;
    }


    .feature-div-1-img-container,
    .feature-div-2-img-container,
    .feature-div-3-img-container {
        width: 30vw;
        height: 20vh;
        opacity: 1;
        justify-self: center;
        align-self: center;
    }

    .feature-div-1-list-container,
    .feature-div-2-list-container,
    .feature-div-3-list-container {
        justify-self: center;
        width: 100vw;
        height: 40vh;
        text-align: center;
        font: normal normal bold .7rem var(--text-font-primary);
        letter-spacing: 0px;
        opacity: 1;

    }

    .feature-div-1-list,
    .feature-div-2-list,
    .feature-div-3-list {
        text-align: center;
        font: normal normal 600 1rem var(--text-font-primary);
        letter-spacing: 0px;
        padding: .6rem;
        margin: .5rem;
        height: 2vh;
    }

    .pricing-container-div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100vw;
        justify-items: center;
        align-items: center;
        margin-top: 20vh;
    }

    .pricing {
        background: url(../images/pricing/pricing-bcg.png) no-repeat;
        background-size: cover;
        background-position: bottom;
    }


    .pricing-div-img {
        max-width: 70vw;
        max-height: 60vh;
    }

    .pricing-div-text-1 {
        font: normal normal bold 2rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .pricing-div-text-2 {
        font: normal normal bold .8rem var(--text-font-primary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
        padding: 0rem 3rem 0rem 3rem;
    }

    .pricing-btn {
        font: normal normal 600 1.2rem var(--text-font-primary);
        background-color: var(--text-color-primary-dark);
        color: #ffffff;
        border-radius: 3rem;
    }

    .pricing-btn:hover,
    .pricing-btn:active {
        background-color: var(--text-color-primary-light);
        color: var(--text-color-primary-dark);
    }


    .team-div-text-1 {
        font: normal normal bold 2rem var(--text-font-secondary);
        letter-spacing: 0px;
        color: var(--text-color-primary-dark);
    }

    .team-main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 10vh;
        margin-top: 3vh;
    }

    .team-main-1-text-1,
    .team-main-2-text-1,
    .team-main-3-text-1,
    .team-main-4-text-1{

        font: normal normal 600 .7rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;

    }



    .team-main-1-text-2,
    .team-main-2-text-2,
    .team-main-3-text-2,
    .team-main-4-text-2 {

        font: normal normal 600 .6rem var(--text-font-primary);
        letter-spacing: 0px;
        color: #000000;
        margin-top: -1vh;

    }

    .team-div-img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        border: none;
        box-shadow: 0 0 .7rem .4rem #888888;
    }


    .footer {
        display: grid;
        grid-template-rows: 1fr .1fr;
        align-items: flex-end;
        
    }


    .footer-div-img {
        display: none;
    }

    .footer-mid {
        display: grid;
        grid-template-rows: 1fr .1fr;
        align-self: center;
        justify-items: center;
        align-items: center;

    }

    .footer-item-4-social {
        background-color: transparent;
        border: none;
        max-width: 4vw;
        max-height: 4vh;
        padding: 0rem 0.5rem 0rem 0.5rem;
    }

    .copyright {
        font: normal normal bold 0.6rem var(--text-font-primary);
        letter-spacing: 0px;
        color: white;
        background-color: var(--text-color-primary-dark);
        padding: 0.5rem 0rem 0.5rem 0rem;
    }

    .footer-item-2-text-1 {
        font: normal normal bold 0.8rem var(--text-font-primary);
    }

    .footer-item-2-text-2 {
        font: normal normal bold 0.7rem var(--text-font-primary);
    }

    .footer-items {
        letter-spacing: 0px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        color: white;
        text-align: center;
        align-items: center;
        background-color: var(--text-color-primary-dark);
    }

    .footer-items-div {
        width: 100vw;
    }
}